<div class="row">
  <h1><%= @user.name %>
    <%= render 'users/friend_link', user: @user %>
  </h1>
</div>

<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to t('posts.list'), '#posts', 'data-toggle' => 'tab' %>
  </li>
  <li>
    <%= link_to t('user.friends_list'), '#friends', 'data-toggle' => 'tab' %>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active posts" id="posts">
    <%= render @posts, comment: @comment %>
  </div>
  <div class="tab-pane" id="friends">
    <%= render @friends %>
  </div>
</div>
