<h1>いわーく勉強会SNS</h1>
<p>勉強会のお知らせや、オンラインでの交流を行います。</p>

<hr>
<h2>ユーザー登録</h2>
<%= form_for @user, html:{role:'form'} do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>エラー</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div><%= f.submit 'ユーザー登録', class: "btn btn-primary" %></div>
<% end %>

<h2>ログイン</h1>

<%= form_tag sessions_path, html:{role:'form'} do %>
  <div class="form-group">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email], class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :password %>
    <%= password_field_tag :password, class: "form-control" %>
  </div>
  <div>
    <%= submit_tag "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>